@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;
  --text-gray: #939393;
  --text-black: #2c2c2c2c;
  --background-primary: #f3743d;

 
  body {
    min-height: 100vh;
    background-color: #f3743d;
    transition:
      color 0.5s,
      background-color 0.5s;
    line-height: 1.6;
    
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}   
   /* @layer utilities {
    .primary {
      background-color: #f3743d;
    }
    .text-gray-bg {
      background-color: #939393;
    }
    .text-gray {
      color: #939393;
    }
    .text-white {
      color: #f8f8f8;
    }
    .text-black {
      background-color: #2c2c2c;
    }
    
    .responsive-layout {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  }
} */