@import "tailwindcss";

:root {
  html {
    scrollbar-color: #1cb5e0 transparent;
    scrollbar-width: thin;
  }

  body {
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    color: #ffffff;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1cb5e0;
    border-radius: 4px;
    border: 2px solid transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #1cb5e0;
  }
  .scrollbar-style {
    scrollbar-color: #1cb5e0 transparent;
    scrollbar-width: thin;
  }

  @layer {
    .my-text {
      background: linear-gradient(90deg, #7debf2, #60a4ff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .glass-border-card {
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      position: relative;
    }

    .glass-nav-card {
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      position: relative;
    }

    .glass-input-card-second {
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      position: relative;
    }
    .padding-add {
      padding: 0 20px 0 20px;
    }

    .my-gradient {
      background: #000046;
      background: linear-gradient(to right, #1cb5e0, #040457);
    }
  }
}
